<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^uploads/ - [L]
</IfModule>

# Proteger carpetas sensibles
<FilesMatch "^(\.htaccess|config\.php|.*\.sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>